<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация</title>
</head>
<body>
    <h1 align="center">Здравствуй, пользователь!</h1>
    <br/>
    <h5 align="center">Для доступа к пользователям перейди на http://127.0.0.1:5000/users </h5>
    <br/>
    <h5 align="center">Для доступа к конкретному пользователю перейди на http://127.0.0.1:5000/users/id пользователя </strong> </h5>
    <br/>
    <h5 align="center">Для доступа к заказам перейди на http://127.0.0.1:5000/orders</h5>
    <br/>
    <h5 align="center">Для доступа к конкретному заказу перейди на http://127.0.0.1:5000/orders/id заказа </h5>
    <br/>
    <h5 align="center">Для доступа к предложениям перейди на http://127.0.0.1:5000/offers </h5>
    <br/>
    <h5 align="center">Для доступа к конкретному предложению перейди на http://127.0.0.1:5000/offers/id предложения </h5>
   <br/>
    <br/>
    <div>
        Для осуществления POST/PUT/DELETE запросов я сохранил подготовленные мной запросы для postman.
        Они лежат в корневом руте приложения, просто добавь их в postman :)
    </div>
</body>
</html>